html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: #d5e8ea;
  color: #20214d;
  font-family: Raleway, Arial, sans-serif;
}

.headline {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}

.stat-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.stat-container__inner-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 210px;
}

.stat-container__stat-headline {
  text-align: center;
  margin-bottom: 30px;
}

.stat-container__result {
  text-align: center;
  font-size: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 15px 10px;
  padding: 0 10px;
}

.container__card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5px solid #20214d;
}

.container__name {
  text-align: center;
  margin-bottom: 10px;
}

.container__paragraph {
  font-weight: bold;
}

.container__data {
  font-weight: normal;
}
